<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black; color: azure;">
    <h1>URL Shortner Generator</h1>
    <br>
    
    <div >
        <form method="POST" action="/url">
            <label for="">Enter your Original url</label>
            <input type="text" 
            name="url"
            placeholder="http//example.com">
            <button type="submit">Generator</button>

            
        </form>
    </div>
    <br>
    <br>
    <div style="border: 5px solid blanchedalmond;">
        
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S.no</th>
                    <th>ShortID</th>
                    <th>RedirectUrl</th>
                    <th>Clicks</th>
                    <th>Copy link</th>
                </thead>
                <tbody>
                    <% urls.forEach((url,index)=> { %>
                     <tr>
                        <td><%= index+1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                        <td><input type="text" id="textToCopy" value="http://localhost:8001/urls/<%=url.shortId %>"></td>
                     </tr>
                    <% })
                     %>
                </tbody>
            </table>
        <% } %>
    </div>

</body>
</html> 